div svg rect {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

h2 {
  text-align: center;
  font: 24px sans-serif;
}

svg {
  padding: 50px;
}

.axis text {
  font: 10px sans-serif;
}

text {
  font: 10px sans-serif;
}



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/*
.x.axis path {
  display: none;
}*/